*{
	box-sizing: border-box;
}
body{
	margin: 0;
}

#one {
	width: 100px;
	height: 100px;
	background: orange;
}


#myslide {
	margin: 0 auto;
	margin-top: 100px;
	width: 375px;
	height: 400px;
	border: 3px solid black;
	position: relative;
	overflow: hidden;
	display: block;

}
#foto1, #foto2 {
	width: 375px;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	transition: all ease 200ms;
}
#foto1 {
	background: yellow;
}
#foto2 {
	background: blue;
}